* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;

  background-color: #f7eedf;
}

body {
  margin: 0 auto;
  padding: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
  max-width: 980px;
  margin: 0 auto;
}

nav > ul {
  padding: 0 1rem;
  display: flex;
  list-style: none;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
}

@media (max-width: 700px) {
  nav > ul {
    flex-direction: column;
  }
}

nav > ul > li {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.1rem;
}

#nav-name {
  flex: 1;
}

.content {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 1rem;
}

#intro {
  padding: 9rem 1rem;
}

#text-photo-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  column-gap: 10rem;
}

h1 {
  font-size: 4.5rem;
}

h3 {
  font-size: 1.1rem;
}

#tagline {
  flex: 1 1 400px;
}

img {
  width: 275px;
  height: 275px;
  object-fit: cover;
  border-radius: 50%;
}
